
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --mls-color-bg-primary: 47, 54, 61;
  --mls-color-outline: 35, 40, 50; 

  --mls-color-accent-border-gradient-light: 232, 240, 79;
  --mls-color-accent-border-gradient-dark: 153, 178, 23;
  --mls-color-accent-content-gradient-light: 172, 202, 46;
  --mls-color-accent-content-gradient-dark: 139, 169, 21;  

  --mls-color-primary-border-gradient-light: 102, 147, 172;
  --mls-color-primary-border-gradient-dark: 60, 74, 85;
  --mls-color-primary-content-gradient-light: 60, 90, 105; 
  --mls-color-primary-content-gradient-dark: 45, 52, 60; 
}